#notification {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    min-height: 900px;
}

.profile-details {
    background-color: rgb(238, 243, 248);
}

.mobile-aside{
    display: none;
}

.profile-detail-body{
    width: 1100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 80px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    
}

.profile-navbar {
    display: flex;
    /* justify-content: end; */
    align-items: center;
    /* padding: 0px 50px; */
    height: 67px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    position: fixed;
    z-index: 5;
    background-color: white;
}

.match-main {
    width: 45%;
}
.offSliderMain{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    max-width: 340px!important;
}
.sliderPadding{
    padding-bottom: 10px;
    border-bottom:1px solid #f0edee;
    margin: 12px 15px; 
}
.offcanvas-body{
    padding: 0 16px 16px 16px;
    max-height: 344px!important;
    margin-bottom: 10px;
}
.logoutBtn{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-bottom-left-radius: 24px;

}
.logoutBtn button{
    font-size: 14px;
    border: none;
    margin: 15px 25px;
    background-color: transparent;
    font-weight: 500;

}
.text-detils h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 4px;
    --tw-text-opacity: 1;
    color: rgb(52 73 94/var(--tw-text-opacity));
}
.text-detils p{
    font-size: 13px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(118 132 147/var(--tw-text-opacity));
}
.text-detils a{
    --tw-text-opacity: 1;
    color: rgb(216 70 92/var(--tw-text-opacity));
    font-family: 500;
}
.noti-main {
    width: 45%;
    border-radius: 5px;
    background-color: #ffffff;
}

.match-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-color: #ffffff;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    border-radius: 5px;
    margin-bottom: 10px;

}

.profile-box{
    position: relative;
    width: 67%;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    background-color: #ffffff;
    border-radius: 5px;
    position: sticky;
    justify-content: space-around;
    
    
}
.filterBtn{
    display: flex;
    padding:15px 32px;
    background-color: #ffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.filterBtn div{
    background-color: #fff;
    padding: 0.3rem 0.75rem;
    border:1px solid rgb(207, 207, 207);
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;

}
.matchDetails{
    margin: 8px 32px;
    overflow: hidden;
    height: calc(100vh - 214px);
    overflow-y: scroll;
    scroll-snap-type: none;
}
.custom-Card{
    display: flex;
    border:1px solid rgb(206, 202, 202);
    border-radius: 0.75rem;
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
    background-color: #fff;
    width: 100%;
    
}
.cover-object{
    object-fit: fill;
    object-fit: cover;
    position: relative;
    cursor: pointer;
    flex: none;

}


.cover-object img{
    width: 168px;
    height: 224px;

}
.card-text{
    width: 100%;
    text-align: left;
    padding: 0 20px 12px 20px;
}
.card-text div{
    color: #000!important;
}
.lastSeen{
    margin-top: 20px;
    font-size: 12px; 
    line-height: 16px;
}
.profileName{
    font-size: 20px;
    font-weight: 500;
}
.profleHight{
    opacity: 0.8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.mxWid375{
    max-width: 3.75rem;
}
.mxWid50{
    max-width: 50%;
}
.profleHight svg{
    margin-right: 8px;
    opacity: 0.8;
    margin-bottom: 4px;
}
.pt6{
    padding-top: 6px;
    line-height: 10px;
}
.ml16{
 margin-left: 16px;
}
.connectItem{
    display: flex;
    justify-content: space-around;
    flex-direction: row;    
    height: 68px;
    background-color: rgb(223, 193, 211);
    margin-top: 5px;

}
.connectItem button{
    background-color: transparent;
    border: none;
    color: rgb(194, 19, 48);
    font-size: 16px;
}
.connectItem a{
    color: rgb(194, 19, 48);
}
.sentMsgInput input{
    width: 440px;
    height: 42px;
    padding: 5px 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 20px;
}
.sentMsgInput span{
    position: absolute;
    right: 28px;
    font-size: 32px;
    padding:5px;
    color: #d433b1;
    /* background-color: #d433b1; */
    bottom: 11px;
    cursor: pointer;
    /* border-radius: 50px; */

}
.msgText{
    margin-top: 20px;
    font-size: 15px;
    color: #e70c60;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 18
}
.material-symbols-outlined{
    font-size: 20px;
}
.prfile-panel{
    position: relative;
    overflow: hidden;
    height: 400px;
    color: rgba(152,163,175,.3);
    background: #477288  ;
    width: 100%;
    border-radius: 5px;
}
.profile-glary{
    background-color: #A70855;
    color: #fff;
    text-align: end;
    padding:4px 0;
    font-size: 12px;
}

.profile-glary span{
    font-weight: 500;
    margin-right: 30px;
    cursor: pointer;
}

.user-image{
    width: 100%;
    height: 380px;
    object-fit: contain;
}
.postion-absolute{
    position: absolute;
    /* background-color: #022636; */
    width: 270px;
    margin: 0 0 30px 30px;
    padding: 20px 15px;
    left: 0;
    bottom: 0;
    height: auto;
    border-radius: 4px;
    background-image: linear-gradient(90deg,#9e9a99 20%,#63636a 80%);
}
.user-profile{
    position: relative;
    display: flex;
    width: 100%;
}

.pro-name{
    font-size: 28px;
    color: #fff;
    width: 150px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    /* text-wrap:; */
    /* line-height: 36px; */
}
.self-center{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    text-align: center;
    margin-left: 6px;
}

.postion-sticky{
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    margin: 0 32px;
    margin-top: 24px;
    border-bottom: 1px solid rgb(194, 191, 191);
}
.postion-sticky button{
    font-size: 14px;
    line-height: 20px;
    padding: 10px 4px 8px 4px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    opacity: 0.8;
    margin-right: 14px;
    outline: 2px solid transparent;
    color: #4d4c4c;
}
.activeBtn{
    border-bottom: 3px solid rgb(202, 59, 59)!important;
    color: #000!important;
}
.widh80{
    width: 80px;
    flex-shrink: 0;
}
.widh90{
    width: 90px;
    flex-shrink: 0;
}
.widh100{
    width: 115px;
    flex-shrink: 0;
}
.widh130{
    width: 140px;
    flex-shrink: 0;
}
.flotLeft{
    float: left;
}
.basicData{
    padding: 14px 20px;
    font-size: 14px;
    margin: 15px 30px;
    color: #3a3939;
    box-shadow: 0px 4px 8px 0px rgba(75,97,119,.1);;
    border: 1px solid rgb(221, 218, 218);
    border-radius: 8px;
    cursor: pointer;
}
.basicData h5{
    color: #A70855;
    font-size: 16px;
}   
.basicData h5 div{
    margin-top: 4px;
    font-size: 14px;
    color: #f176b2;
    font-weight: 300;
}   







.left-side-items{
    cursor: pointer;
    text-align: center;
    color: #FFAED5;
}

.left-side-items:hover span{
    color:  #CB3055!important;
    border: 1px solid #CB3055;
}
.left-side-items:hover div{
    color:  #CB3055!important;
}
.left-side-items span{
    font-size: 30px;
    border: 1px solid #FFAED5;
    padding: 5px 10px;
    transition: border 500ms ease-out;
    /* transition: border 0.5s ease; */
    transition: color 500ms ease-out;
}


.left-side-items div{
    font-size: 12px;
    font-weight: 500;
    color: #000;
    transition: color 500ms ease-out;
}

.colr5{
    color:#CB3055!important;
}
.user-icon {
    width: 68px;
    height: 68px;
    border: 4px solid #26C97C;
    border-radius: 50%;
    border-top-color: transparent;
    transform: rotate(-60deg);
    background-color: transparent;
    margin-right: 14px;
}
.user-icon img {
    width:60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 16px;
    /* background-color: #fff; */
    transform: rotate(60deg);
}

.user-percent{
    color: rgb(94, 97, 94);
    font-size: 12px;
}
.user-percent span{
    color: #26C97C;
}

.megtop{
    margin-left: -122px;
}
.premuBenfit{
    width: 70%;
}
.benefitDiv{
    display: flex;
    justify-content: space-between; 
    margin-left: "10%";
}
.matchContainer{
    position: sticky;
    top: 5rem;
}
.profileDetils{
    width: 330px;
    border: 1px solid rgb(220, 225, 230);
    border-radius: 8px;
    padding: 15px 24px 10px 24px;
    background-color: white;
    
}
.premiumBefis{
    width: 330px;
    border: 1px solid rgb(220, 225, 230);
    background-color: white;
    border-radius: 8px;
    /* position: sticky; */
    padding: 15px 24px 15px 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.premiumBefis h5{
    font-size: 16px;
    padding: 0 40px;
}
.benefitsList{
    border: 1px solid #DADADA;
    padding: 8px 20px;
    display: flex;
    margin-top: 18px;
    border-radius: 4px;
}

.benefitsIcon div{
    margin-top: -8px;
}
.benefitTxt{
   font-weight: 600;
   padding: 0 20px;
   line-height: 20px;
   margin-top: 2px;
   font-size: 14px;
   color: #4d4b4b;
}
.benefitsIcon span{
    font-size: 40px;
    padding: 8px 0;
    color: #A70855;
}
.getOffer{
    display: flex;
    background-color: #F4FF12;
    padding: 8px 14px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #A70855;
    line-height: 24px;
}
.getOffer span{
    font-size: 26px;
}

.upgrdeBtn button{
    color: #fff;
    background: #A70855;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;

}
.upgrdeBtn i{
    padding-left: 10px;
}
.pdding32{
    padding: 0 32px;
}
.proImg{
    border-radius: 50px;
}
.customText{
    margin-top: 8px;
    margin-left: 12px;
    text-align: start;
}
.customText div{
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
}
.customText span{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    opacity: 0.8;
}
.msgHeader{
    display: flex;
    padding: 12px 32px;
    background-color: #ecd7e7;
    position: sticky;
    top: 76px;
    
}
.heiht400{
    min-height: 420px;
    
}

.callMenu{
    display: flex;
    width: 60px;
    margin-left: auto;
    justify-content: space-between;
}
.callMenu button{
    border: none;
    background-color: transparent;
    outline: none;
    color: #4e4d4d;
    padding: 0 8px;
}
.msgContainer{
    position: sticky;
    bottom: 0;
    top: 0;
    /* padding: 8px 0; */
    padding: 10px 32px;
    background-color: #e4ecec;
}
.msgInput{
    position: relative;

}
.msgInput input{
    width: 100%;
    border-radius: 20px;
    min-height: 40px;
    font-size: 18px;
    font-weight: 400;
    padding: 0 55px 0 16px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;

}
.msgInput span{
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding:5px;
    color: #1d1c1d;
    bottom: 0px;
    cursor: pointer;
    border: none;
    
    
}
.activtyContainer{
    position: relative;
    display: flex;
    margin:0 16px;
    /* overflow: scroll; */
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    /* overflow-x: scroll; */
    /* scroll-snap-type: x var(--tw-scroll-snap-strictness); */
    scroll-snap-type: none;
    justify-content: space-between;
}
.boxActivity{
    width: 100px;
    height: 144px;
    border-radius: 20px;
    background-color: #dfecf3;
    padding: 15px 5px 5px 20px;
    margin: 28px 8px ;
    flex-shrink: 0;
    cursor: pointer;
    color: #4e4d4d;
    
}
.boxActivity div{
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
}
.interstHeder{
    margin: 50px 32px 0 32px;
}
.interstHeder div{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.interstHeder span{
    font-size: 14px;
    color: #727070;
    font-weight: 500;
}
.interstPople{
    width: 196px;
    height: 184px;
    background-color: #e8f1f0;
    /* box-shadow: var(0px 4px 8px 0 0 #0000),0,0,0 0 #0000,0px 4px 8px rgba(75,97,119,.1); */
    flex-shrink: 0;
    margin: 32px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(173, 175, 175);
    cursor: pointer;
}
.proImg2{
    margin: 0 48px 0 48px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.proImg2 div{
    margin-top: 40px;

}
.proImg2 img{
    border-radius: 50px;
}

.proImg2 svg{
    width: 48px;
    height: 48px;
    background-color: rgb(197, 199, 202);
    border-radius: 50px;
    color: #f7f3f6;
}
.proImg2 .-ml-5{
    margin-left: -30px;
    margin-top: 38px;
}
.profileVist{
    padding: 20px 32px 0 32px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
}
.shortlstContner{
    scroll-padding: 2rem;
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: flex;
    padding-left: 16px;
    margin-bottom: 10px;
}
.boxShortlst{
    position: relative;
    margin: 16px 0 0 16px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;

}
.boxShortlst img{
    cursor: pointer;
}
.activtyLst{
    position: relative;
    background-color: #000;
    justify-content: space-around;
    box-shadow: rgba(235, 241, 248, 0.3) 0px 1px;
    color:#fff;
    align-items: center;
    height: 60px;
    display: flex;
    border-top: 1px solid rgb(95, 94, 94);

}
.activtyLst div{
    display: flex;
    padding: 4px 0;
    font-size: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boxInterest{
    margin: 16px 0 0 16px;
    position: relative;
    width: 248px;
    height: 256px;
    flex-shrink: 0;
    box-shadow: 0px 0px 5px rgb(173, 175, 175);
    background-color: #f0f3f5;
    padding: 24px 20px;
    overflow: hidden;

}
.boxInterest i{
    position: absolute;
    right: 20px;
    cursor: pointer;
    padding: 0 4px;
    font-size: 20px;
}
.boxInterest img{
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin: 0 45px;

}
.textIntest{
    font-size: 16px;
    line-height: 16px;
    margin-top: 24px;
    font-weight: 700;
    color: #2c2c2c;
}
.boxInterest span{
    font-size: 14px;
}
.popup-box2{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99!important;
  }
  
  .box5{
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 150vh;
    margin-top: calc(100vh - 80vh - 50px);
    background: #fff;
    overflow: none;
    border-radius: 4px;
  }
  .cancelBtn2{
    cursor: pointer;
    position: fixed;
    right: calc(38% - 55px);
    top: calc(100vh - 75vh - 80px);
    background-color: transparent;
    border: none;
    color: #fff;
  }
  .checkbox-Custom{
    padding: 30px 20px 10px 20px;
  }
  .checkbox-Custom .fa-chevron-left{
    margin-right: 15px;
    cursor: pointer;
  }
  .cutom-title{
    font-size: 14px;
    font-family: 500;
    margin: 6px 0;
  }
  .popContaner{
    height: 300px;
    overflow-y: auto;
  }
  .popContaner2{
    height: 240px;
    overflow-y: auto;
  }
  .popContaner2{
    accent-color: #d64869;;
  }

  .popContaner input{
    accent-color: #d64869;;
  }
  .select-item{
    display: flex;
    overflow: none;
    flex-wrap: wrap;
  }
  .select-item li{
    border: 1px solid #f795ac;
    margin: 5px 3px;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #faeaef;

  }
  .select-item li i{
    padding-left: 5px;
    color: #f1708e;
  }
  .select-item div{
    font-size: 14px;
    color:#ec328c;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 4px;
  }

  .checkbox-Custom label{
    display: flex;
    padding: 6px 8px!important;
    font-size: 14px;
    line-height: 15px;
    margin: 6px 0;
    width: 100%;
    cursor: pointer;
  }
  .checkbox-Custom label:hover{
    background-color: #e3e5e6;
  }
  .submitopt2{
    border: none;
    background-color: #A70855;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 15px;
    margin-top: 14px;
    border-radius: 4px;
}
.habitsOpt{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}
.habitsOpt button{
    border: 1px solid rgb(209, 207, 207);
    background-color: #ffff;
    border-radius: 20px;
    padding: 4px 12px;
    line-height: 20px;
    margin: 4px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    color: #3a3838;
}
.habitsOpt i{
    margin-left: 6px;
}
.bgcolor{
    background-color: #f5d7d7!important;
    border: 1px solid rgb(235, 117, 117)!important;
    color: #000!important;
}
.searchBy{
    padding-bottom:12px;
    text-align: center;
    border-bottom: 1px solid rgb(146, 144, 144);
}
.searchBy span{
    margin: 0 15px;
    font-weight: 500;
    padding-bottom: 12px;
    cursor: pointer;
}
.bodercolo2{
    border-bottom: 3px solid #df2b82;
}

.serchBtn2{
    position: sticky;
    bottom: 20px;
    width: 100%;
    float:inline-end;
    text-align: center;
    margin-top: 50px;
    
}
.serchBtn2 button{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 6px 10px;
    background-color:#A70855;
    border: none;
    width: 50%;
    border-radius: 5px;
    outline: none;
    
}
.serchCriteri{
    text-align: center;
    margin-top: 50px;
}
.serchCriteri label{
    font-size: 14px;
    /* display: block; */
    text-align: start;
    width: 60%;
    font-weight: 500;
}
.serchCriteri input{
    width: 60%;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    font-size: 14px;
    outline: none;
}
.block-Info{
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}
.block-Info a{
    color: #c51e6f;
}
.manageAcc{
    font-size: 14px;
    margin-top: 50px;
    color: #646363;
}
.settingList{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(177, 175, 175);
    margin-top: 12px;
    padding: 12px 10px 12px 0;
    color: #777777;
    cursor: pointer;
}
.settingList p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-left: 8px;
}
@media only screen and (max-width: 1200px) {

    .landing-navbar {
        display: none;
    }

    .profile-navbar {
        display: none;
    }

    .mobile-aside{
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        border: 1px solid rgb(250, 240, 240);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 1px 1px 3px rgb(43, 44, 44);
    }

    .mobile-aside-child{
        text-align: center;
    }

    .profile-detail-body {
        width: 100%;
        display: flex;
        padding-top: 0px;
        position: relative;
        z-index: 0;
        padding: 0 20px;
    }

    .noti-main {
        width: 95%;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .profile-box {
        width: 100%;
        padding: 5px 10px;
    }

    .match-box {
        width: 100%;
    }

    .match-main {
        width: 95%;
    }
}